.hero {
  margin-top: 6.2rem;

  &__container {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
  }

  &__left {
    max-width: 53.7rem;
  }

  &__right {}

  &__title {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.2rem;
    color: #FFFFFF;

    span {
      color: #C778DD;
    }
  }

  &__description {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }

  &__photo {
    max-width: 45.7rem;
    position: relative;

    img {
      display: block;
      width: 100%;
      object-fit: contain;
      z-index: 10;
    }

    .hero__decor1 {
      position: absolute;
      left: -1.2rem;
      top: 8.4rem;
      z-index: -9;
      width: 15.5rem;
      height: 15.5rem;
    }

    .hero__decor2 {
      position: absolute;
      right: 7rem;
      bottom: 0rem;
      z-index: 11;
      width: 8.4rem;
      height: 8.4rem;
    }
  }
}