.skills {
  margin-top: 10.6rem;

  &__container {
    max-width: 100rem;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.6rem;
  }

  &__line {
    display: block;
    content: '';
    height: 0.1rem;
    width: 23.9rem;
    background: #C778DD;
  }

  &__body {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
  }

  &__left {}

  &__right {
    display: flex;
    align-items: start;
    gap: 1.6rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}
