.skills {
  margin-top: 10.6rem;

  &__container {
    max-width: 100rem;
    margin: 0 auto;

    @media (max-width: 48rem) {
      max-width: 100%;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.6rem;
  }

  &__line {
    display: block;
    content: '';
    height: 0.1rem;
    width: 23.9rem;
    background: #C778DD;
  }

  &__body {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 48rem) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }
  }

  &__left {}

  &__right {
    display: flex;
    align-items: start;
    gap: 1.6rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}
