.skills {
  margin-top: 11.2rem;

  &__container {
    max-width: 100rem;
    margin: 0 auto;

    @media (max-width: 48rem) {
      max-width: 100%;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }

  &__list {
    margin-top: 4.8rem;
    display: flex;
    align-items: start;
    justify-content: space-between;

    @media (max-width: 48rem) {
      flex-wrap: wrap;
      gap: 1.6rem;
      align-items: center;
      justify-content: center;
    }
  }
}