.navbar {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
  }

  &__item {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #ABB2BF;

    a {
      display: flex;
      align-items: center;

      span {
        display: block;
        color: #C778DD;
      }

      &.active {
        color: #FFFFFF;
        font-weight: 500;

        span {
          font-weight: 500;
        }
      }
    }
  }
}