.about {
  margin-top: 11.2rem;
  position: relative;

  &__decorOut1 {
    display: block;
    position: absolute;
    content: '';
    width: 15.5rem;
    height: 15.5rem;
    left: -7.7rem;
    top: 12.5rem;
    border: 1px solid #ABB2BF;
    border-left: none;

    @media (max-width: 48rem) {
      display: none;
    }
  }

  &__decorOut2 {
    display: block;
    position: absolute;
    content: '';
    right: -2.3rem;
    bottom: 10rem;

    @media (max-width: 48rem) {
      display: none;
    }
  }

  &__container {
    max-width: 100rem;
    margin: 0 auto;

    @media (max-width: 48rem) {
      max-width: 100%;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__line {
    display: block;
    content: '';
    height: 0.1rem;
    width: 32.6rem;
    background: #C778DD;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16.6rem;

    @media (max-width: 48rem) {
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      margin-top: 3rem;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.7rem;
    max-width: 51.5rem;
  }

  &__right {
  }

  &__image {
    max-width: 33.9rem;
    max-height: 50.7rem;
    position: relative;

    img.about__img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-bottom: 0.1rem solid #C778DD;
    }
  }

  &__decor1 {
    display: block;
    width: 8.4rem;
    height: 8.4rem;
    position: absolute;
    top: 5.9rem;
    left: -0.4rem;
  }

  &__decor2 {
    display: block;
    width: 8.4rem;
    height: 8.4rem;
    position: absolute;
    bottom: 17.2rem;
    right: 1.6rem;
  }
}
