.footer {
  border-top: 1px solid #ABB2BF;
  margin-top: 14.4rem;

  &__container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 3.2rem 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media(max-width: 48rem) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
  }

  &__right {
  }

  &__header {
    display: flex;
    align-items: center;
    color: #FFFFFF;

    @media(max-width: 48rem){
      justify-content: center;
      margin-top: 1rem;
    }
  }

  &__body {
    margin-top: 1.6rem;
    color: #FFFFFF;
  }

  &__email {
    margin-left: 3.2rem;
    color: #ABB2BF;
  }

  &__links {
    display: flex;
    gap: 0.8rem;
  }

  &__link {
  }

  &__copyright {
    margin: 0 auto;
    margin-top: 4.8rem;
  }
}