.contacts {
  margin-top: 11.2rem;
  position: relative;

  &__decor {
    display: block;
    position: absolute;
    left: -3.5rem;
    top: 9.5rem;
    
    @media (max-width: 48rem) {
      display: none;
    }
  }

  &__container {
    max-width: 100rem;
    margin: 0 auto;

    @media (max-width: 48rem) {
      max-width: 100%;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__line {
    display: block;
    content: '';
    height: 0.1rem;
    width: 12.7rem;
    background: #C778DD;
  }

  &__body {
    margin-top: 4.5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;

    @media (max-width: 48rem) {
      flex-direction: column;
      justify-content: center;
      gap: 1.6rem;
    }
  }

  &__left {
    max-width: 50.5rem;
  }

  &__right {}
}
