.primBtn {
  border: 0.1rem solid #C778DD;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #FFFFFF;
  transition: all 0.3s ease-in;

  &:hover {
    background: rgba(199, 120, 221, 0.2);
  }
}

.secondBtn {
  border: 0.1rem solid #ABB2BF;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #ABB2BF;

  &:hover {
    background: rgba(171, 178, 191, 0.2);
  }
}

.sectionTitle {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: #FFFFFF;

  span {
    color: #C778DD;
  }
}

.loader {
  text-align: center;
}

.errorMessage {
  text-align: center;
  color: red;
}

.skillsBlock {
  max-width: 19.6rem;
  border: 0.1rem solid #ABB2BF;

  &__header {
    padding: 0.8rem;
    border-bottom: 0.1rem solid #ABB2BF;

    p {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: #FFFFFF;
    }
  }

  &__body {
    padding: 0.8rem;
  }
}

.contactsBlock {
  display: inline-block;
  padding: 1.6rem;
  border: 0.1rem solid #ABB2BF;

  &__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #FFFFFF;
  }

  &__links {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
  }
}

.pageTitle {
  &__title {
    p {
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 4.2rem;
      color: #FFFFFF;
    }

    span {
      color: #C778DD;
    }
  }

  &__description {
    margin-top: 1.4rem;
    p {
      color: #FFFFFF;
    }
  }
}
