.primBtn {
  border: 0.1rem solid #C778DD;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #FFFFFF;
  transition: all 0.3s ease-in;

  &:hover {
    background: rgba(199, 120, 221, 0.2);
  }
}

.secondBtn {
  border: 0.1rem solid #ABB2BF;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #ABB2BF;

  &:hover {
    background: rgba(171, 178, 191, 0.2);
  }
}

.sectionTitle {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: #FFFFFF;

  span {
    color: #C778DD;
  }
}